.delete {
  padding: 8px;
  font-size: 18px;
  color: #dedede;
}

.title {
  flex-grow: 1;
  margin-left: 25px;
  color: #dedede !important;
}
.title > div {
  color: #dedede !important;
}
.title svg {
  color: #dedede !important;
}

.laneHeader {
  display: flex;
  flex-direction: row;
}

.centerLine {
  background: repeating-linear-gradient(
      to bottom,
      #fffb00,
      #fffb00 48px,
      #2b2c33 48px,
      #2b2c33 96px
    )
    no-repeat center/12px 100%;
}

.dragCenterLine {
  background: repeating-linear-gradient(
      to bottom,
      #fffb00,
      #fffb00 48px,
      #1d1d22 48px,
      #1d1d22 96px
    )
    no-repeat center/12px 100%;
}
